@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playwrite+CL:wght@100..400&family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+CL:wght@100..400&family=Playwrite+CU:wght@100..400&display=swap');



h1{
    font-family:Playwrite BE VLG ;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-family:Kalnia Glaze ;
} 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F4C2C2;
    padding: 20px;
}

header {
    background-color: crimson;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left {
    flex: 1;
    margin-right: 20px;
}

.right {
    flex: 2;
}



#dress-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10cm, 1fr));
    gap: 20px;
}

.dress-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    width: 10cm;
    height: 3cm; /* Adjusted height to accommodate image and text */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.3s ease; /* Smooth background color transition */
    cursor: pointer; /* Add pointer cursor */
}

.dress-item:hover {
    background-color: lightblue; /* Change background color on hover */
}

.dress-image {
    width: 100%; /* Ensure image covers entire box */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio */
}

.dress-name {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for name */
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Smooth background color transition */
    pointer-events: none; /* Prevent click events on the name overlay */
}